:root {
	/* Indents */
	--i_s: ;
	--i_m: 30px;
	--i_b: ;

	/* Grid */
	--s-grid-gap: var(--i_m);

	/* Card */
	--s-card-w: ;
	--s-card-h: ;
	--s-card-img-w: ;
	--s-card-img-h: ;
	--s-card-offset: ;

	/* Border */
	--s-border-h: 3px;
	--s-border-r: 3px;

	/* Animation */
	--t-animation: 0.3s;

	/* Container*/
	--s-container: 1200px;


	/* Buttons */
	--i-button_d-w: var(--i-button_m-w);
	--i-button_d-h: var(--i-button_m-h);

	--i-button_m-w: 150px;
	--i-button_m-h: 40px;
}
