/* Flex Center */
.-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Pointer */
.-pointer {
	cursor: pointer;
}

/* Inside */
.-inside {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}